body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    background: radial-gradient(#e1a5bc 50%, #6be156);
}

h1 {
    margin: 0;
    padding: 5%;
}

p {
    margin: 0;
    padding: 5%;
}