body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    background: linear-gradient(red, orange, yellow, green, blue, purple);
}

h1 {
    margin: 0;
    padding: 5%;
    color: white;
}

p {
    margin: 0;
    padding: 0 5%;
    color: white;
}